:root {
  --primary-color: #0056b3; /* Azul farmacia */
  --secondary-color: #28a745; /* Verde salud */
  --background-color: #f8f9fa;
  --text-color: #333;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-dark.bg-primary {
    background-color: var(--primary-color) !important;
}
